{% load static %}
<header class="main-header">
    <!-- Start Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
        <div class="container">
            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
                <a class="navbar-brand" href="index.html"><img src="" class="logo" alt=""></a>
            </div>
            <!-- End Header Navigation -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                    {% if request.path == '/' %}
                    <li class="nav-item active"><a class="nav-link" href="{% url 'productView' %}">خانه</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'productView' %}">خانه</a></li>
                    {% endif %}
                    <li class="dropdown megamenu-fw">
                        <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">دسته بندی</a>
                        <ul class="dropdown-menu megamenu-content" role="menu">
                            <li>
                                <div class="row">
                                    {% for cat in model %}
                                    <div class="col-menu col-md-3">
                                        <h6 class="title">{{cat}}</h6>
                                        <div class="content">
                                            <ul class="menu-col">
                                                {% for i in cat.relation.all %}
                                                <li><a href="{% url 'category' i.pk %}">{{i}}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    <!-- end col-3 -->
                                </div>
                                <!-- end row -->
                            </li>
                        </ul>
                    </li>
                    {% if request.user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">خروج</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">ورود</a></li>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                        {% if request.path == '/viewlike/' %}
                            <li class="nav-item active"><a class="nav-link" href="{% url 'viewlike' %}">علاقه مندی ها</a></li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'viewlike' %}">علاقه مندی ها</a></li>
                        {% endif %}
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
            <!-- Start Atribute Navigation -->
            <div class="attr-nav">
                <ul>
                    
                    <li class="search-product" style="padding-right: 0px;background-color: #f8f9fa; margin-top: 5px;">
                        <form action="{% url 'search' %}" method="POST">
                            {% csrf_token %}
                            <input class="form-control" name="search" placeholder="Search here..." type="text" style="padding-right: 0px;padding-left: 0px;border-radius: 14px;background-color: #5e5e5e;">                            
                        <button type="submit" style="border-bottom-right-radius: 14px;border-top-right-radius: 14px;background-color: black;"> 
                            <i class="fa fa-search"></i> </button>
                        </form></li>
                    <li class="side-menu"><a href="{% url 'main' %}">
                    <i class="fa fa-shopping-bag"></i>
                    {% if request.user.is_authenticated %}
                        <span style="margin-left: 5px;background-color: red;border-radius: 27px;padding-top: 4px;color: white;" class="badge">{{ order.sumitem }}</span>
                    
                    {% endif %}
                </a></li>
                </ul>
            </div>
            <!-- End Atribute Navigation -->
        </div>
        <!-- Start Side Menu -->
        <div class="side">
            <a href="#" class="close-side"><i class="fa fa-times"></i></a>
            <li class="cart-box">
                {% if request.user.is_authenticated %}
                <ul class="cart-list">
                    <h3 style="font-size: 15px;font-weight: 600;padding: 4px;text-align: center;" ><strong style="color: rgb(0, 0, 0);font-size: 18px;">{{request.user.username}} :کاربر </strong> </span></h3>
                    {% for i in modelcart %}
                    <li>
                        <a href="#" class="photo"><img src="{{i.product.image_main.url}}" class="cart-thumb" alt="" /></a>
                        <h6><a href="#">{{i.product.title}} </a></h6>
                        <p>{{i.quantity}}x - <span class="price">${{i.product.Price}}</span></p>
                    </li>
                    {% endfor %}
                    <li class="total">
                        <a style="font-size: 15px;" href="{% url 'main' %}" class="btn btn-default hvr-hover btn-cart">سبد خرید</a>
                        <span style="font-size: 15px;font-weight: 600;" class="float-right"><strong style="color: red;font-size: 18px;">مجموع</strong>: ${{order.sumprice}}</span>
                    </li>
                </ul>
                {% else %}
                <a href="{% url 'login' %}">Login</a>
                {% endif %}
            </li>
        </div>
        <!-- End Side Menu -->
    </nav>
    <!-- End Navigation -->
</header>